<div id='wrap'>
  <ul id='nav'>
    <li><a href='/users'>Home</a></li>
    <li><a href='/users/profile'>Profile</a></li>
    <li><a href='/sessions/destroy'>Logout</a></li>
    <li><a href='/hangman'>Hangman</a></li>
    <li><a href='/tictactoe'>Tictactoe</a><li>
  </ul>
</div>